<div class="home-container">
  <h1>Welcome to Quizzle</h1>

  <h2>Rules</h2>
  <ul>
    <ul>
      <li>
        Try to answer as many questions as possible under the shortest amount of
        time.
      </li>
      <li>Try not to fail any question as this results in a negative mark.</li>
    </ul>
  </ul>

  <h2>Gameplay Mechanics</h2>
  <ul>
    <li>
      Speed Matters: Answer questions quickly to maximize your score. Remember,
      time is of the essence!
    </li>
    <li>
      Penalty for Timeout: If you let the timer run out, points will be deducted
      from your score. Stay alert!
    </li>
    <li>
      Deduction for Incorrect Answers: Incorrect responses result in score
      deductions. Accuracy is key!
    </li>
    <li>
      Score Calculation: Your score is determined by the speed and accuracy of
      your answers. Strive for both!
    </li>
  </ul>

  <div class="home-button-container">
    <button (click)="goOnToNextScreen()">Start Quiz</button>
  </div>
</div>
