<div class="header-container">
  <div class="header__left">
    <span routerLink="">Quizzzle</span>
  </div>
  <div class="header__middle">
    <ul class="header__links">
      <li routerLink="/start">Take Quiz</li>
      <li routerLink="/leaders">Leaderboard</li>
    </ul>
  </div>
  <div class="header__right" *ngIf="shouldDisplayAuthButtons">
    <button class="button" (click)="navigateToAuth(false)">Login</button>
    <button class="button" (click)="navigateToAuth(true)">Signup</button>
  </div>
  <div class="header__right" *ngIf="!shouldDisplayAuthButtons">
    <span>Welcome {{ user.displayName }}</span>
  </div>

  <div class="mobile-menu">
    <img
      src="../../../assets/menu__icon.svg"
      alt=""
      class="mobile-menu-icon"
      (click)="toggleSidebar()"
      *ngIf="!isSidebarOpen"
    />
    <img
      src="../../../assets/cancel__icon.svg"
      alt=""
      class="mobile-menu-icon"
      (click)="toggleSidebar()"
      *ngIf="isSidebarOpen"
    />

    <div class="mobile-menu--inner" *ngIf="isSidebarOpen">
      <ul class="header__links__mobile">
        <li routerLink="/start" (click)="toggleSidebar()">Take Quiz</li>
        <li routerLink="/leaders" (click)="toggleSidebar()">Leaderboard</li>
      </ul>
    </div>
  </div>
</div>
